<div class="page-header">

<h1>Ticket Listing</h1>

<table class ="table">
  <tr>
<!-- Search based on email -->
<%= form_tag(tickets_path, :method => "get") do %>
  <%= text_field_tag :search, nil, :placeholder => "Tickets by email" %>
  <%= submit_tag "Search" %>
<% end %>

or

<!-- Search based on ticket ID -->
<%= form_tag(tickets_path, :method => "get") do %>
  <%= text_field_tag :idsearch, nil, :placeholder => "Tickets by ID" %>
  <%= submit_tag "Search" %>
<% end %>

or

<!-- Search based on Category -->  
<%= form_tag(tickets_path, :method => "get") do %>
 <%= text_field_tag :catsearch, nil, :placeholder => "Tickets by Category" %>
  <%= submit_tag "Search" %>
<% end %>

or

<!-- Search based on Product -->  
<%= form_tag(tickets_path, :method => "get") do %>
  <%= text_field_tag :prodsearch, nil, :placeholder => "Tickets by Product" %>
  <%= submit_tag "Search" %>
<% end %>

</tr>

</table>
<br/>

</div>

<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">SupportDesk Ticket Listing</div>
  <div class="panel-body">


<table class="table">
    <tr>
      <th>ID Number</th>
      <th>Type</th>
      <th>Email</th>
      <th>Status</th>
      <th>Title</th>
      <th>Category</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
</div>


    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.id %></td>
        <td><%= ticket.ttype %></td>
        <td><%= ticket.email %></td>
        <td><%= ticket.status %></td>
        <td><%= ticket.title %></td>
        <td><%= ticket.category %></td>
        <td><%= ticket.product %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
      </tr>
    <% end %>
</table>

<div class="panel-footer">
  <%= link_to 'Home', home_path, class: 'btn btn-success' %>
  </div>

  </div>

